
*{
	margin: 0px;
	padding: 0px;
	font-size: inherit;
	font-weight: inherit;
	text-align: inherit;
}

body{
	padding: 10px;
}

input[type=button]{
	padding: 8px;
	margin: 4px;
}

input[type=file]{
	display: none;
}

textarea#source{
	width: 100%;
	height: 8em;
}

a{
    color:#003399;
    text-decoration:none;
}
a:link {
    color:#003399;
    text-decoration:none;
}
a:visited {
    color:#003399;
    text-decoration:none;
}
a:hover {
    color:#003399;
    text-decoration:underline;
}
a:active {
    color:#003399;	
    text-decoration:underline;
}

a.ts_modulemember_a{
    color: black;
    text-decoration:none;
}
a.ts_modulemember_a:link{
    color: black;
    text-decoration:none;
}
a.ts_modulemember_a:visited {
    color: black;
    text-decoration:none;
}
a.ts_modulemember_a:hover {
    color: black;
    text-decoration:underline;
}
a.ts_modulemember_a:active {
    color: black;	
    text-decoration:underline;
}

h2{
	font-family: Segoe UI, Oxygen, Verdana, Arial;	
	font-size: x-large;
	margin: 1em;
}

h3{
	font-family: Segoe UI, Oxygen, Verdana, Arial;	
	font-size: large;
	margin: 0.5em;
}

hr{
	margin: 0.5em;
}

footer{
	text-align: center;
	font-size: small;
	margin: 1em;
}

.ts_symbol{
	color: SlateGray;
}

.ts_colon:after{
	content: " ";
}

.ts_reserved{
	color: DarkRed;
}

.ts_optional{
	color: DarkCyan;
}

.ts_reserved_var:after{
	content: " ";
}


.ts_semi:after{
	content: " ";
}

.ts_arrow{

}

.ts_left_brace:after{
	content: " ";
}

.contents{
	margin: 1em;
	margin-left: 4em;
}

.ts_modulemember{
	border: solid 1px grey;
	border-radius: 4px;
	margin: 8px;
}

.ts_modulemember_title{
	font-family: Segoe UI, Verdana, Arial;	
	font-weight: normal;
	padding: 8px;
	margin: 0px;
	font-size: large;	
	background: rgba(0, 0, 0, 0.1);
}

.ts_modulemember_content{
	padding: 8px;
}

.ts_modulemember_description{
	padding: 8px;
	padding-left: 64px;
}

.ts_hierarchey{
	margin-left: 0.2em;
	margin-left: 2em;
}

.ts_module{
}

.ts_module_title{
}

.ts_class{
}



.ts_classcontent{
	margin-left: 2em;
}
.ts_classhierarchy{
	
}
.ts_classdescription{
}


.ts_classmember{
	margin: 1em;
}
.ts_classmember_description{
	font-size: small;
	margin: 1em;
	margin-left: 2em;
}
.ts_class_member_title{
	background-color: rgba(128, 128, 128, 0.1);
	padding: 0.5em;
	border-top: solid 1px rgba(0, 0, 0, 0.2);
}

.ts_enum{
}

.ts_var{
}

.ts_var_title{
}

.ts_enum_title{
}

.ts_interface{
}

.ts_class_title{
}

.ts_interface_title{
}

.ts_code{
	font-family: Courier New, monospace;
	font-size: normal;	
}

.ts_method{
	
}

.ts_constructor{	
}


dl.ts_param{
	margin: 0.2em;
}

dt.ts_param_name{
	margin-left: 1em;
	display: inline;
}

dt.ts_param_name:after{
	content: " - ";
}

dd.ts_param_description{
	display: inline;	
	clear: both;
}


.ts_parameters{
	font-size: small;
}
.ts_parameters:after{
	content: " :";
}
